<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
    <context:annotation-config />
    <context:component-scan base-package="com.korvyakov.insightdataengineering.blackjack"/>
    <bean id="isUnix" class="java.lang.Boolean">
        <constructor-arg type="boolean">
            <util:constant static-field="org.apache.commons.lang3.SystemUtils.IS_OS_UNIX"/>
        </constructor-arg>
    </bean>
	<bean class="java.io.PrintStream" name="printStream">
		<constructor-arg>
			<util:constant static-field="java.lang.System.out"/>
		</constructor-arg>
		<constructor-arg value="true"/>
        <constructor-arg value="#{isUnix ? 'UTF-8' : 'Cp866'}"/>
	</bean>
    <bean class="java.util.Scanner" name="scanner">
        <constructor-arg>
            <util:constant static-field="java.lang.System.in"/>
        </constructor-arg>
    </bean>
</beans>